{% extends 'common/base.html' %}
{% load static %}

{% block main %}
<!-- slider-start -->
<div class="slider-area">
    <div class="pages-title">
        <div class="single-slider slider-height slider-height-breadcrumb d-flex align-items-center"
            style="background-image: url(img/bg/others_bg.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content slider-content-breadcrumb text-center">
                            <h1 class="white-color f-700">Our Events</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider-end -->
<!-- courses start -->
<div class="events-area gray-bg pt-100 pb-70">
    <div class="container">
        <div class="events-list">
            <div class="row">
                <div class="col-xl-6 offset-xl-0 col-lg-6 offset-lg-0 col-md-10 offset-md-1">
                    <div class="single-events mb-30">
                        <div class="events-wrapper events-wrapper-padding">
                            <div class="events-inner d-flex">
                                <div class="events-thumb">
                                    <a href="event_details.html"><img src="img/events/small_events_thumb_01.jpg"
                                            alt=""></a>
                                </div>
                                <div class="events-text white-bg">
                                    <div class="event-text-heading mb-20">
                                        <div class="events-calendar text-center f-left">
                                            <span class="date">25</span>
                                            <span class="month">Sep, 2018</span>
                                        </div>
                                        <div class="events-text-title clearfix">
                                            <a href="#">
                                                <h4>Business Conferences</h4>
                                            </a>
                                            <div class="time-area">
                                                <span class="ti-time"></span>
                                                <span class="published-time">05:23 AM - 09:23 AM</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="events-para">
                                        <p>Event is veries fermentum consequat mi fonec has fermentum ellentesque
                                            malesuada.</p>
                                    </div>
                                    <div class="events-speaker">
                                        <h2>Speaker : <span>Alexzender</span></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 offset-xl-0 col-lg-6 offset-lg-0 col-md-10 offset-md-1">
                    <div class="single-events mb-30">
                        <div class="events-wrapper events-wrapper-padding">
                            <div class="events-inner d-flex">
                                <div class="events-thumb">
                                    <a href="event_details.html"><img src="img/events/small_events_thumb_02.jpg"
                                            alt=""></a>
                                </div>
                                <div class="events-text white-bg">
                                    <div class="event-text-heading mb-20">
                                        <div class="events-calendar text-center f-left">
                                            <span class="date">25</span>
                                            <span class="month">Sep, 2018</span>
                                        </div>
                                        <div class="events-text-title clearfix">
                                            <a href="#">
                                                <h4>Admission Fair 2017</h4>
                                            </a>
                                            <div class="time-area">
                                                <span class="ti-time"></span>
                                                <span class="published-time">05:23 AM - 09:23 AM</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="events-para">
                                        <p>Event is veries fermentum consequat mi fonec has fermentum ellentesque
                                            malesuada.</p>
                                    </div>
                                    <div class="events-speaker">
                                        <h2>Speaker : <span>Alexzender</span></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 offset-xl-0 col-lg-6 offset-lg-0 col-md-10 offset-md-1">
                    <div class="single-events mb-30">
                        <div class="events-wrapper events-wrapper-padding">
                            <div class="events-inner d-flex">
                                <div class="events-thumb">
                                    <a href="event_details.html"><img src="img/events/small_events_thumb_03.jpg"
                                            alt=""></a>
                                </div>
                                <div class="events-text white-bg">
                                    <div class="event-text-heading mb-20">
                                        <div class="events-calendar text-center f-left">
                                            <span class="date">25</span>
                                            <span class="month">Sep, 2018</span>
                                        </div>
                                        <div class="events-text-title clearfix">
                                            <a href="#">
                                                <h4>Workshop Marketing</h4>
                                            </a>
                                            <div class="time-area">
                                                <span class="ti-time"></span>
                                                <span class="published-time">05:23 AM - 09:23 AM</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="events-para">
                                        <p>Event is veries fermentum consequat mi fonec has fermentum ellentesque
                                            malesuada.</p>
                                    </div>
                                    <div class="events-speaker">
                                        <h2>Speaker : <span>Alexzender</span></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 offset-xl-0 col-lg-6 offset-lg-0 col-md-10 offset-md-1">
                    <div class="single-events mb-30">
                        <div class="events-wrapper events-wrapper-padding">
                            <div class="events-inner d-flex">
                                <div class="events-thumb">
                                    <a href="event_details.html"><img src="img/events/small_events_thumb_03.jpg"
                                            alt=""></a>
                                </div>
                                <div class="events-text white-bg">
                                    <div class="event-text-heading mb-20">
                                        <div class="events-calendar text-center f-left">
                                            <span class="date">25</span>
                                            <span class="month">Sep, 2018</span>
                                        </div>
                                        <div class="events-text-title clearfix">
                                            <a href="#">
                                                <h4>Learning Spoken English</h4>
                                            </a>
                                            <div class="time-area">
                                                <span class="ti-time"></span>
                                                <span class="published-time">05:23 AM - 09:23 AM</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="events-para">
                                        <p>Event is veries fermentum consequat mi fonec has fermentum ellentesque
                                            malesuada.</p>
                                    </div>
                                    <div class="events-speaker">
                                        <h2>Speaker : <span>Alexzender</span></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 offset-xl-0 col-lg-6 offset-lg-0 col-md-10 offset-md-1">
                    <div class="single-events mb-30">
                        <div class="events-wrapper events-wrapper-padding">
                            <div class="events-inner d-flex">
                                <div class="events-thumb">
                                    <a href="event_details.html"><img src="img/events/small_events_thumb_02.jpg"
                                            alt=""></a>
                                </div>
                                <div class="events-text white-bg">
                                    <div class="event-text-heading mb-20">
                                        <div class="events-calendar text-center f-left">
                                            <span class="date">25</span>
                                            <span class="month">Sep, 2018</span>
                                        </div>
                                        <div class="events-text-title clearfix">
                                            <a href="#">
                                                <h4>Business Conferences</h4>
                                            </a>
                                            <div class="time-area">
                                                <span class="ti-time"></span>
                                                <span class="published-time">05:23 AM - 09:23 AM</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="events-para">
                                        <p>Event is veries fermentum consequat mi fonec has fermentum ellentesque
                                            malesuada.</p>
                                    </div>
                                    <div class="events-speaker">
                                        <h2>Speaker : <span>Alexzender</span></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 offset-xl-0 col-lg-6 offset-lg-0 col-md-10 offset-md-1">
                    <div class="single-events mb-30">
                        <div class="events-wrapper events-wrapper-padding">
                            <div class="events-inner d-flex">
                                <div class="events-thumb">
                                    <a href="event_details.html"><img src="img/events/small_events_thumb_03.jpg"
                                            alt=""></a>
                                </div>
                                <div class="events-text white-bg">
                                    <div class="event-text-heading mb-20">
                                        <div class="events-calendar text-center f-left">
                                            <span class="date">25</span>
                                            <span class="month">Sep, 2018</span>
                                        </div>
                                        <div class="events-text-title clearfix">
                                            <a href="#">
                                                <h4>Business Conferences</h4>
                                            </a>
                                            <div class="time-area">
                                                <span class="ti-time"></span>
                                                <span class="published-time">05:23 AM - 09:23 AM</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="events-para">
                                        <p>Event is veries fermentum consequat mi fonec has fermentum ellentesque
                                            malesuada.</p>
                                    </div>
                                    <div class="events-speaker">
                                        <h2>Speaker : <span>Alexzender</span></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 text-center">
                    <div class="single-events-btn mt-15 mb-30">
                        <nav class="course-pagination mb-30" aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                <li class="page-item">
                                    <a class="page-link" href="#"><span class="ti-angle-left"></span></a>
                                </li>
                                <li class="page-item active">
                                    <a class="page-link" href="#">1</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">2</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">3</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">4</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#"><span class="ti-angle-right"></span></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- courses end -->
<!-- brand start -->
<div class="brand-area pt-80 pt-80 pb-80">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="brand-list">
                    <ul>
                        <li><img src="img/brand/brand1.png" alt=""></li>
                        <li><img src="img/brand/brand2.png" alt=""></li>
                        <li><img src="img/brand/brand3.png" alt=""></li>
                        <li><img src="img/brand/brand4.png" alt=""></li>
                        <li><img src="img/brand/brand5.png" alt=""></li>
                        <li><img src="img/brand/brand6.png" alt=""></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- brand end -->
{% endblock main %}